MYSQL_ROOT_PASSWORD=change-me
AUTH_DB_NAME=auth_db
ACADEMIC_DB_NAME=academic_db

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

AUTH_SERVICE_URL=http://auth-service:8000
ACADEMIC_SERVICE_URL=http://academic-service:8000
LOG_LEVEL=INFO
